@model bigschool.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Following</h2>

<ul class="row">
    @{
        var varID = 0;
    }
    @foreach (var course in Model.FollowingCourse)
    {
        <li>
            <div class="details">
                <span class="lecturer">
                    @course.Name
                    @if (Model.ShowAction)
                    {
                        
                        <button class="btn btn-default btn-sm js-toggle-follow btn-default-color" data-user-id="@Model.ListFollowing[varID].FolloweeId">Following...</button>
                    }
                </span>                
            </div>
        </li>
        varID = varID + 1;
    }
</ul>
@section scripts
{
    <script>
		$(document).ready(function () {

			$(".js-toggle-follow").click(function (e) {
				var button = $(e.target);
				$.post("/api/followings", { followeeId: button.attr("data-user-id") })
					.done(function () {
                        location.reload();
					})
					.fail(function () {
						alert("something failed!");
					});
			});
		});
    </script>
}

