body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lecturer{
    font-weight: bold;
}
.month {
    padding: 4px;
    font-weight:600;
} 
.day
{
    padding:4px;
}
.btn-default-color {
    background-color: #77f539;
}


.navbar-inverse {
    background-color: #00FFFF;
    border-color:#FFFF00;
}

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #000000;
    }

.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: #99FF66;
            color: white;
            width: 60px;
            border-radius: 8px;
        }

        .course > li .details {
            position: absolute;
            top: 0px;
            left: 70px;
        }

        .course > li .action {
            display: inline;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action {
            display: block;
        }
